In [2]:
import boto3
import pandas as pd
from io import StringIO

In [3]:
s3 = boto3.resource('s3')
bucket = s3.Bucket('xetra-1234')

In [4]:
bucket_obj1 = bucket.objects.filter(Prefix='2022-01-28/')
bucket_obj2 = bucket.objects.filter(Prefix='2022-03-15/')
objects = [obj for obj in bucket_obj1] + [obj for obj in bucket_obj2]

In [5]:
objects

[s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-01-28/2022-01-28_BINS_XETR23.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR00.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR01.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR02.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR03.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR04.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR05.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR06.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR07.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR08.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR09.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR10.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR11.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR12.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR13.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR14.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR15.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR16.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR17.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR18.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR19.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR20.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR21.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR22.csv'),
 s3.ObjectSummary(bucket_name='xetra-1234', key='2022-03-15/2022-03-15_BINS_XETR23.csv')]

In [6]:
csv_obj_init = bucket.Object(key= objects[0].key).get().get('Body').read().decode('utf-8')
data = StringIO(csv_obj_init)
df_init = pd.read_csv(data, delimiter=',')

In [7]:
df_init.columns

Index(['ISIN', 'Mnemonic', 'SecurityDesc', 'SecurityType', 'Currency',
       'SecurityID', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice',
       'EndPrice', 'TradedVolume', 'NumberOfTrades'],
      dtype='object')

In [14]:
df_all = pd.DataFrame(columns=df_init.columns)
for obj in objects:
    csv_obj = bucket.Object(key= obj.key).get().get('Body').read().decode('utf-8')
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter=',')
    df_all = df_all.append(df, ignore_index=True)

In [9]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-01-28,08:00,31.30,31.30,30.98,31.02,13383,24
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-01-28,08:00,13.26,13.32,13.26,13.30,12572,29
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-01-28,08:00,190.45,190.45,189.55,190.05,1413,26
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2022-01-28,08:00,35.65,35.74,35.65,35.74,414,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250458,US5261071071,LXI,"LENNOX INTL INC. DL-,01",Common stock,EUR,5990171,2022-03-15,20:30,238.00,238.00,238.00,238.00,0,1
250459,US9553061055,WPS,"WEST PHARM.SVCS DL-,25",Common stock,EUR,6001426,2022-03-15,20:30,333.20,333.20,333.20,333.20,0,1
250460,US02208R1068,XQB,"ALTRA INDL MOTION DL-,001",Common stock,EUR,6014094,2022-03-15,20:30,35.20,35.20,35.20,35.20,0,1
250461,DE000A3MQCP7,FMEN,FRESEN.MED.CARE O.N. NEUE,Common stock,EUR,7290694,2022-03-15,20:30,55.00,55.00,55.00,55.00,0,1
250462,DE000A3MQDG4,BIO2,BIOTEST AG ST ANGEDIENT.,Common stock,EUR,7335008,2022-03-15,20:30,40.60,40.60,40.60,40.60,0,1

In [10]:
columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice','EndPrice', 'TradedVolume']
df_all = df_all.loc[:, columns]

In [11]:
df_all

,ISIN,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume
0,AT0000A0E9W5,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249
1,DE000A0DJ6J9,2022-01-28,08:00,31.30,31.30,30.98,31.02,13383
2,DE000A0D6554,2022-01-28,08:00,13.26,13.32,13.26,13.30,12572
3,DE000A0D9PT0,2022-01-28,08:00,190.45,190.45,189.55,190.05,1413
4,DE000A0HN5C6,2022-01-28,08:00,35.65,35.74,35.65,35.74,414
...,...,...,...,...,...,...,...,...
250458,US5261071071,2022-03-15,20:30,238.00,238.00,238.00,238.00,0
250459,US9553061055,2022-03-15,20:30,333.20,333.20,333.20,333.20,0
250460,US02208R1068,2022-03-15,20:30,35.20,35.20,35.20,35.20,0
250461,DE000A3MQCP7,2022-03-15,20:30,55.00,55.00,55.00,55.00,0
250462,DE000A3MQDG4,2022-03-15,20:30,40.60,40.60,40.60,40.60,0

In [15]:
df_all.dropna(inplace=True)

In [16]:
df_all.shape

(250463, 14)

## Get Opening price per ISIN and day

In [17]:
df_all['opening_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('first')

In [18]:
df_all

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,opening_price
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4,16.39
1,DE000A0DJ6J9,S92,SMA SOLAR TECHNOL.AG,Common stock,EUR,2504287,2022-01-28,08:00,31.30,31.30,30.98,31.02,13383,24,31.30
2,DE000A0D6554,NDX1,NORDEX SE O.N.,Common stock,EUR,2504290,2022-01-28,08:00,13.26,13.32,13.26,13.30,12572,29,13.26
3,DE000A0D9PT0,MTX,MTU AERO ENGINES NA O.N.,Common stock,EUR,2504297,2022-01-28,08:00,190.45,190.45,189.55,190.05,1413,26,190.45
4,DE000A0HN5C6,DWNI,DEUTSCHE WOHNEN SE INH,Common stock,EUR,2504314,2022-01-28,08:00,35.65,35.74,35.65,35.74,414,2,35.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250458,US5261071071,LXI,"LENNOX INTL INC. DL-,01",Common stock,EUR,5990171,2022-03-15,20:30,238.00,238.00,238.00,238.00,0,1,238.00
250459,US9553061055,WPS,"WEST PHARM.SVCS DL-,25",Common stock,EUR,6001426,2022-03-15,20:30,333.20,333.20,333.20,333.20,0,1,333.20
250460,US02208R1068,XQB,"ALTRA INDL MOTION DL-,001",Common stock,EUR,6014094,2022-03-15,20:30,35.20,35.20,35.20,35.20,0,1,35.20
250461,DE000A3MQCP7,FMEN,FRESEN.MED.CARE O.N. NEUE,Common stock,EUR,7290694,2022-03-15,20:30,55.00,55.00,55.00,55.00,0,1,55.00
250462,DE000A3MQDG4,BIO2,BIOTEST AG ST ANGEDIENT.,Common stock,EUR,7335008,2022-03-15,20:30,40.60,40.60,40.60,40.60,0,1,40.60

In [19]:
df_all[df_all['ISIN']=='AT0000A0E9W5']

,ISIN,Mnemonic,SecurityDesc,SecurityType,Currency,SecurityID,Date,Time,StartPrice,MaxPrice,MinPrice,EndPrice,TradedVolume,NumberOfTrades,opening_price
0,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:00,16.39,16.44,16.39,16.44,3249,4,16.39
259,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:02,16.39,16.39,16.39,16.39,236,1,16.39
2861,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:05,16.46,16.46,16.41,16.41,1044,5,16.39
3448,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:07,16.38,16.38,16.35,16.35,410,2,16.39
3679,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-01-28,08:08,16.40,16.40,16.40,16.40,60,1,16.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245838,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-03-15,16:26,13.39,13.39,13.33,13.33,5413,21,14.24
246115,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-03-15,16:27,13.37,13.37,13.27,13.31,16308,28,14.24
246383,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-03-15,16:28,13.31,13.34,13.30,13.31,11760,24,14.24
246686,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-03-15,16:29,13.36,13.36,13.36,13.36,1411,2,14.24
247278,AT0000A0E9W5,SANT,S+T AG O.N.,Common stock,EUR,2504159,2022-03-15,16:35,13.36,13.36,13.36,13.36,75617,2,14.24

## Get Closing price per ISIN and day

In [ ]:
df_all['opening_price'] = df_all.sort_values(by=['Time']).groupby(['ISIN', 'Date'])['StartPrice'].transform('first')